*.pyc
*.swp
*.o
*.so
*.s
*~
core/working
core/_impact*
core/hakeisimu
core/iseconfig
core/ipcore_dir/_xmsgs
_*
linux_server/cserver
#*#
__pycache__
.python-version
raytracer/raytracer
raytracer/raytracer_bin
.mem-dump
output.ppm
output.jpg
python-tmp.*
.python-tmp.*
*.png
*.jpg
*.coe
input.rs
