//! **************************************************************************
// Written by: Map P.49d on Wed Oct 07 00:36:18 2015
//! **************************************************************************

SCHEMATIC START;
COMP "ZA<10>" LOCATE = SITE "V32" LEVEL 1;
COMP "XLBO" LOCATE = SITE "AH34" LEVEL 1;
COMP "ZA<11>" LOCATE = SITE "AK34" LEVEL 1;
COMP "ZA<12>" LOCATE = SITE "AK33" LEVEL 1;
COMP "ZA<13>" LOCATE = SITE "AL34" LEVEL 1;
COMP "XZBE<0>" LOCATE = SITE "W31" LEVEL 1;
COMP "ZA<14>" LOCATE = SITE "AL33" LEVEL 1;
COMP "XZBE<1>" LOCATE = SITE "W32" LEVEL 1;
COMP "ZA<15>" LOCATE = SITE "AM33" LEVEL 1;
COMP "XZBE<2>" LOCATE = SITE "AA34" LEVEL 1;
COMP "ZA<16>" LOCATE = SITE "AN34" LEVEL 1;
COMP "ADVA" LOCATE = SITE "AE34" LEVEL 1;
COMP "XZBE<3>" LOCATE = SITE "Y33" LEVEL 1;
COMP "ZA<17>" LOCATE = SITE "AN33" LEVEL 1;
COMP "ZA<18>" LOCATE = SITE "AF34" LEVEL 1;
COMP "ZCLKMA<0>" LOCATE = SITE "Y32" LEVEL 1;
COMP "ZA<19>" LOCATE = SITE "AE33" LEVEL 1;
COMP "ZCLKMA<1>" LOCATE = SITE "AB33" LEVEL 1;
COMP "XE1" LOCATE = SITE "W34" LEVEL 1;
COMP "ZA<0>" LOCATE = SITE "AJ34" LEVEL 1;
COMP "XE3" LOCATE = SITE "AA33" LEVEL 1;
COMP "ZA<1>" LOCATE = SITE "AD32" LEVEL 1;
COMP "E2A" LOCATE = SITE "Y34" LEVEL 1;
COMP "ZA<2>" LOCATE = SITE "AC32" LEVEL 1;
COMP "ZA<3>" LOCATE = SITE "AB31" LEVEL 1;
COMP "ZA<4>" LOCATE = SITE "AB32" LEVEL 1;
COMP "ZA<5>" LOCATE = SITE "AH33" LEVEL 1;
COMP "ZA<6>" LOCATE = SITE "V34" LEVEL 1;
COMP "ZA<7>" LOCATE = SITE "V33" LEVEL 1;
COMP "ZA<8>" LOCATE = SITE "AF33" LEVEL 1;
COMP "ZA<9>" LOCATE = SITE "AG33" LEVEL 1;
COMP "XGA" LOCATE = SITE "AD34" LEVEL 1;
COMP "ZD<10>" LOCATE = SITE "Y29" LEVEL 1;
COMP "ZD<11>" LOCATE = SITE "Y28" LEVEL 1;
COMP "ZD<0>" LOCATE = SITE "AJ30" LEVEL 1;
COMP "ZD<20>" LOCATE = SITE "AK32" LEVEL 1;
COMP "ZD<12>" LOCATE = SITE "AA30" LEVEL 1;
COMP "ZD<1>" LOCATE = SITE "AH29" LEVEL 1;
COMP "ZD<21>" LOCATE = SITE "AJ31" LEVEL 1;
COMP "ZD<13>" LOCATE = SITE "AA29" LEVEL 1;
COMP "ZD<2>" LOCATE = SITE "AH30" LEVEL 1;
COMP "ZD<30>" LOCATE = SITE "AE31" LEVEL 1;
COMP "ZD<22>" LOCATE = SITE "AJ32" LEVEL 1;
COMP "ZD<14>" LOCATE = SITE "AB30" LEVEL 1;
COMP "ZD<3>" LOCATE = SITE "AG30" LEVEL 1;
COMP "ZD<31>" LOCATE = SITE "AF31" LEVEL 1;
COMP "ZD<23>" LOCATE = SITE "AH32" LEVEL 1;
COMP "ZD<15>" LOCATE = SITE "AC30" LEVEL 1;
COMP "ZD<4>" LOCATE = SITE "AF29" LEVEL 1;
COMP "ZD<24>" LOCATE = SITE "V30" LEVEL 1;
COMP "ZD<16>" LOCATE = SITE "AP32" LEVEL 1;
COMP "ZD<5>" LOCATE = SITE "AF30" LEVEL 1;
COMP "ZD<25>" LOCATE = SITE "V29" LEVEL 1;
COMP "ZD<17>" LOCATE = SITE "AN32" LEVEL 1;
COMP "XFT" LOCATE = SITE "Y31" LEVEL 1;
COMP "ZD<6>" LOCATE = SITE "AE29" LEVEL 1;
COMP "ZD<26>" LOCATE = SITE "W30" LEVEL 1;
COMP "ZD<18>" LOCATE = SITE "AM32" LEVEL 1;
COMP "ZD<27>" LOCATE = SITE "W29" LEVEL 1;
COMP "ZD<19>" LOCATE = SITE "AK31" LEVEL 1;
COMP "ZD<7>" LOCATE = SITE "AD29" LEVEL 1;
COMP "ZD<28>" LOCATE = SITE "AD31" LEVEL 1;
COMP "ZD<8>" LOCATE = SITE "V28" LEVEL 1;
COMP "ZD<29>" LOCATE = SITE "AE32" LEVEL 1;
COMP "ZD<9>" LOCATE = SITE "W27" LEVEL 1;
COMP "XWA" LOCATE = SITE "AC34" LEVEL 1;
COMP "RS_TX" LOCATE = SITE "K11" LEVEL 1;
COMP "XZCKE" LOCATE = SITE "AC33" LEVEL 1;
COMP "ZZA" LOCATE = SITE "AA31" LEVEL 1;
SCHEMATIC END;

